<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="newToken">
	<f:translate key="tx_instagramapi_domain_model_instagramapi.new_token" />
</label><br />
	<f:form.textfield property="newToken" /><br />
<label for="oldToken">
	<f:translate key="tx_instagramapi_domain_model_instagramapi.old_token" />
</label><br />
	<f:form.textfield property="oldToken" /><br />
<label for="expiresIn">
	<f:translate key="tx_instagramapi_domain_model_instagramapi.expires_in" />
</label><br />
	<f:form.textfield property="expiresIn" /><br />
</html>