<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
	
		<h1>Show instagram</h1>
        <div id="instafeed" class="row instagram_plugin"> </div>
        <input type="text" hidden="true" value="{token}" name="token_insta">
        <input type="text" hidden="true" value="{settings.nbrItemsDesktop}" name="item_desktop_insta">
        <input type="text" hidden="true" value="{settings.nbrItemsMobile}" name="item_mobile_insta">
	</f:section>
</html>