#instafeed{
    margin-top: 50px;
    display :flex;
    flex-wrap:wrap;
}

.item_insta{
    padding-top: 100%;
    background-size: cover;
    margin-bottom: 25px;
    display: block;
    margin-right: 25px;   
    background-position: center;
    
}

#instafeed .item_instagram{
    width: 33.33%;
    position:relative;
}

.hidden{
    display: none;
}

.like-btn {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 0 0 0 4px;
    transform: rotate(-45deg);
    animation: pulse 1s infinite;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    opacity:0;
    border: 0;
}

.item_instagram:hover .like-btn{
    opacity:0.84;
}

.like-btn::before,
.like-btn::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.like-btn::before {
    top: -20px;
    left: 0;
}

.like-btn::after {
    top: 0;
    right: -20px;
}

.more_instagram{
    height: 88px;
    background-color: #C9C9C9;
    color:#fff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    position:relative ;
    padding-top: 45px;
    border:0;
    width:100%;
}
.more_instagram::before {
    content: "";
    display: inline-block;
    width: 31px;
    left: 50%;
    top: 20px;
    height: 15px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icons/symbole_arrow_white.svg);
    transform: translateX(-50%);
}
@media screen and (max-width:991px) {
    .more_instagram{
        height: 65px;
        padding-top: 35px;
        font-family: "Obvia";
        font-weight: 600;
        font-size: 18px;
    }
    .more_instagram::before {
        content: "";
        display: inline-block;
        width: 31px;
        left: 50%;
        top: 20px;
        height: 15px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../icons/symbole_arrow_white.svg);
        /* transform: rotate(-90deg); */
        transform: translateX(-50%);
    }
}